* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

/* Utils */
.ml-50 {
    margin-left: 50px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-5{
    margin-right: 5px;
}

/** Utils **/

/* Header */
.header {
    background-color: #FFF159;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.header-logo {
    display: flex;
    position: static;
    width: 134px;
    height: 34px;
    left: 10px;
    top: 11px;
    background: url(media/images/logo.png);
}

.container-header {
    display: flex;
    position: absolute;
    height: 80px;
    left: calc(50% - 1200px/2);
    top: 20px;
}

.input-header {
    position: relative;
    z-index: 915;
    color: #333;
    margin: 0;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 40px;
    width: 560px;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.button-buscar-header {
    background: none;
    border: none;
    padding: 0;
    z-index: 920;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    width: 46px;
    right: 0;
    bottom: 0;
    left: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    display: block;
    height: 26px;
    border-left: 1px solid #e6e6e6;
    position: absolute;
    top: 6.5px;
}

.icono-buscar {
    font-size: 16px;
    line-height: 21px;
}

.header-menu-domicilio {
    width: 785px;
    height: 36px;
    left: 10px;
    top: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    color: #333333;
}

.header-menu {
    display: flex;
    list-style: none;
    margin-left: 35px;
}

.header-menu-item {
    margin-right: 16px;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    color: rgba(51, 51, 51, 0.6);
    font-weight: 500;
    font-style: normal;
}

/** Header **/

/* Main */

main {
    background-color: #ebebeb;
}

.container-seccion {
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
}

.titulo-seccion {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.link-seccion {
    color: #3483fa;
    margin: auto 0 2px;
    text-decoration: none;
    margin-left: 16px;
}

.novedades {
    background-color: #333333;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
}

.seccion-metodos-pago {
    margin-bottom: -30px;
    min-height: 0;
    padding: 40px 0;
}

.container-metodos-pago {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    height: 90px;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

.item-metodo-pago {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

.item-metodo-pago-icon {
    height: 54px;
    margin-right: 16px;
    width: 48px;
}

.item-metodo-pago-titulo {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.item-metodo-pago-link {
    color: #999;
    font-size: 14px;
    margin-top: -1px;
}

.item-metodo-pago-bar {
    border-left: 1px solid #e6e6e6;
    height: 60px;
}

.container-ofertas {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1184px;
    gap: 16px;
    margin-top: 20px;
}

.item-ofertas {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 224px;
    height: 350px;
}

.item-ofertas-imagen {
    height: 224px;
    width: 224px;
    box-sizing: border-box;
    white-space: normal;
    margin: 0;
}

.item-ofertas-info {
    padding: 20px 10px 20px 16px;
    border-top: 1px solid rgba(51, 51, 51, .1);
}

.item-ofertas-precio {
    font-size: 24px;
    color: #333333;
    line-height: 1em;
}

.item-ofertas-descuento {
    color: #00A650;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.item-ofertas-envio {
    color: #00A650;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

/** Main **/